*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Libre Baskerville', serif;
}